* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mountain-pos {
  margin-top: 130px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  h1 {
    text-align: center;
    font-family: "Bebas Neue", cursive !important;
    font-weight: bolder;
    @media screen and (max-width: 500px) {
      margin-left: 5px;
      margin-top: 5px;
      font-size: 20px;
    }
  }
  .temperature-content {
    display: flex;
    justify-content: space-between;
    .temp-icon {
      margin: 2px;
      height: 45px;
      width: 45px;
      margin-top: 2px;
      background: grey;
    }
    .temperature-degree {
      margin: 3px;
      color: red;
      font-weight: bolder;
    }
    .degree-temp {
      font-weight: bolder;
      float: left;
    }
    .apparent {
      display: flex;
      flex-direction: column;
      margin-left: 10px;
      text-align: center;
      max-height: 45px;
      .subj {
        display: flex;
        flex-direction: row;
        text-align: center;

        .apparent-temp {
          color: dodgerblue;
          margin-left: 30%;
          margin-top: -20px;
        }
        .degree-temp {
          margin-top: -20px;
        }
      }
    }
    button {
      margin-left: 30px;
    }
  }
}

.mountain-pict {
  .back-img {
    position: absolute;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20px;
    @media screen and (max-width: 950px) {
      width: 96%;
      margin-left: 2%;
      margin-right: 2%;
    }
  }
  .rooms {
    position: relative;
    margin-top: 20%;
    text-align: center;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    padding: 20px;
    @media screen and (max-width: 768px) {
      width: 80%;
      margin-left: 10%;
      margin-right: 10%;
    }
    .rooms-choose {
      display: flex;
      justify-content: space-around;
      a {
        text-decoration: none;
        background-color: whitesmoke !important;
      }
    }
  }
}

.services {
  text-align: center;
  padding: 5rem 0;
  margin-top: -30px;
  @media screen and (max-width: 400px) {
    margin-top: -60px;
  }
  @media screen and (min-width: 401px) {
    margin-top: 20px;
  }
  @media screen and (min-width: 630px) {
    margin-top: 90px;
  }
  @media screen and (min-width: 686px) {
    margin-top: 140px;
  }
  @media screen and (min-width: 786px) {
    margin-top: 160px;
  }
  @media screen and (min-width: 950px) {
    margin-top: 10px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 70px;
  }

  .services-center {
    width: 90vw;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media screen and (min-width: 992px) {
      width: 95vw;
      max-width: 1170px;
    }
    .service {
      width: 20%;
      margin-bottom: 5px;
      @media screen and (max-width: 767px) {
        width: 40%;
      }
      span {
        display: inline-block;
        color: #af9a7d;
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
      }
      h6 {
        letter-spacing: 2px;
        height: 50px;
        @media screen and (max-width: 768px) {
          font-size: 15px;
        }
      }
      p {
        text-align: center;
        width: 90%;
        margin: 0 auto;
        @media screen and (max-width: 768px) {
          font-size: 12px;
        }
      }
    }
  }
}

.section-title {
  background-color: whitesmoke;
  text-align: center;
  color: dodgerblue;
  font-family: "Calistoga", cursive;
  text-transform: capitalize;
  border-radius: 10px;
  padding: 10px;
}

/* featured rooms */
.room-title-center {
  font-family: "Calistoga", cursive !important;
  text-align: center;
  font-weight: bolder;
  font-size: 2rem;
}
.featured-rooms {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  .rooms-center {
    cursor: pointer;
    width: 70vw;
    margin: 10px auto;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
    padding: 2px;
    position: relative;
    .room-price {
      position: absolute;
      left: 0;
      top: 0;
      font-family: "Bebas Neue", cursive;
      color: #333 !important;
      text-align: center;
      padding: 2px;
      background: whitesmoke;
      border-bottom-right-radius: 10px;
      h5 {
        padding: 3px;
      }
      h6 {
        margin-top: -7px;
      }
    }

    .room-bads {
      text-align: center;
      font-weight: bolder;
      font-size: 1.4rem;
      color: #333 !important;
      //font-family: 'Bebas Neue', cursive;
      font-family: "Cabin", sans-serif;
      //font-family: 'Lobster', cursive;
      text-transform: capitalize;
      padding-top: 5px;
    }
    @media screen and (min-width: 776px) {
      width: 25vw;
    }

    &:hover {
      filter: grayscale(80%);
      .room-bads {
        font-size: 1.7rem;
        padding-top: 10px;
        font-weight: bolder;
        transition: all 1.3s linear;
      }
    }
  }
}

