* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mountain-pos {
  margin-top: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.mountain-pos h1 {
  text-align: center;
  font-family: "Bebas Neue", cursive !important;
  font-weight: bolder;
}

@media screen and (max-width: 500px) {
  .mountain-pos h1 {
    margin-left: 5px;
    margin-top: 5px;
    font-size: 20px;
  }
}

.mountain-pos .temperature-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mountain-pos .temperature-content .temp-icon {
  margin: 2px;
  height: 45px;
  width: 45px;
  margin-top: 2px;
  background: grey;
}

.mountain-pos .temperature-content .temperature-degree {
  margin: 3px;
  color: red;
  font-weight: bolder;
}

.mountain-pos .temperature-content .degree-temp {
  font-weight: bolder;
  float: left;
}

.mountain-pos .temperature-content .apparent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 10px;
  text-align: center;
  max-height: 45px;
}

.mountain-pos .temperature-content .apparent .subj {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
}

.mountain-pos .temperature-content .apparent .subj .apparent-temp {
  color: dodgerblue;
  margin-left: 30%;
  margin-top: -20px;
}

.mountain-pos .temperature-content .apparent .subj .degree-temp {
  margin-top: -20px;
}

.mountain-pos .temperature-content button {
  margin-left: 30px;
}

.mountain-pict .back-img {
  position: absolute;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 20px;
}

@media screen and (max-width: 950px) {
  .mountain-pict .back-img {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
  }
}

.mountain-pict .rooms {
  position: relative;
  margin-top: 20%;
  text-align: center;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  padding: 20px;
}

@media screen and (max-width: 768px) {
  .mountain-pict .rooms {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
}

.mountain-pict .rooms .rooms-choose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.mountain-pict .rooms .rooms-choose a {
  text-decoration: none;
  background-color: whitesmoke !important;
}

.services {
  text-align: center;
  padding: 5rem 0;
  margin-top: -30px;
}

@media screen and (max-width: 400px) {
  .services {
    margin-top: -60px;
  }
}

@media screen and (min-width: 401px) {
  .services {
    margin-top: 20px;
  }
}

@media screen and (min-width: 630px) {
  .services {
    margin-top: 90px;
  }
}

@media screen and (min-width: 686px) {
  .services {
    margin-top: 140px;
  }
}

@media screen and (min-width: 786px) {
  .services {
    margin-top: 160px;
  }
}

@media screen and (min-width: 950px) {
  .services {
    margin-top: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .services {
    margin-top: 70px;
  }
}

.services .services-center {
  width: 90vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 992px) {
  .services .services-center {
    width: 95vw;
    max-width: 1170px;
  }
}

.services .services-center .service {
  width: 20%;
  margin-bottom: 5px;
}

@media screen and (max-width: 767px) {
  .services .services-center .service {
    width: 40%;
  }
}

.services .services-center .service span {
  display: inline-block;
  color: #af9a7d;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.services .services-center .service h6 {
  letter-spacing: 2px;
  height: 50px;
}

@media screen and (max-width: 768px) {
  .services .services-center .service h6 {
    font-size: 15px;
  }
}

.services .services-center .service p {
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .services .services-center .service p {
    font-size: 12px;
  }
}

.section-title {
  background-color: whitesmoke;
  text-align: center;
  color: dodgerblue;
  font-family: "Calistoga", cursive;
  text-transform: capitalize;
  border-radius: 10px;
  padding: 10px;
}

/* featured rooms */
.room-title-center {
  font-family: "Calistoga", cursive !important;
  text-align: center;
  font-weight: bolder;
  font-size: 2rem;
}

.featured-rooms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.featured-rooms .rooms-center {
  width: 70vw;
  margin: 10px auto;
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
  padding: 2px;
  position: relative;
}

.featured-rooms .rooms-center .room-price {
  position: absolute;
  left: 0;
  top: 0;
  font-family: "Bebas Neue", cursive;
  text-align: center;
  padding: 2px;
  background: whitesmoke;
  z-index: 1;
  border-bottom-right-radius: 10px;
}

.featured-rooms .rooms-center .room-price h5 {
  padding: 3px;
}

.featured-rooms .rooms-center .room-price h6 {
  margin-top: -7px;
}

.featured-rooms .rooms-center .room-bads {
  text-align: center;
  font-weight: bolder;
  font-size: 1.4rem;
  font-family: "Cabin", sans-serif;
  text-transform: capitalize;
  padding-top: 5px;
}

@media screen and (min-width: 776px) {
  .featured-rooms .rooms-center {
    width: 25vw;
  }
}
/*# sourceMappingURL=App.css.map */