* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mountain-pos {
  margin-top: 110px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  h1 {
    text-align: center;
    font-family: "Bebas Neue", cursive !important;
  }
  .temperature-content {
    display: flex;
    justify-content: space-between;
    .temp-icon {
      margin: 2px;
      height: 45px;
      width: 45px;
      margin-top: 2px;
      background: grey;
    }
    .temperature-degree {
      margin: 3px;
      color: red;
      font-weight: bolder;
    }
    .degree-temp {
      font-weight: bolder;
      float: left;
    }
    .apparent {
      display: flex;
      flex-direction: column;
      margin-left: 10px;
      text-align: center;
      max-height: 45px;
      .subj {
        display: flex;
        flex-direction: row;
        text-align: center;

        .apparent-temp {
          color: dodgerblue;
          margin-left: 30%;
          margin-top: -20px;
        }
        .degree-temp {
          margin-top: -20px;
        }
      }
    }
    button {
      margin-left: 30px;
    }
  }
}
